<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conIGESOP" connectionString="user=XXXXXXXXXXXX;pwd=XXXXX;server=XXXXX;database=XXXXXX" providerName="SQLServer"/>
  </connectionStrings>
  <appSettings>
    <add key="RutaLog" value="D:\XDATA\PRUEBA GRILLA\IGESOP_1\Logs\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="10240000"/>
  </system.web>
</configuration>