<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/controles.css" rel="stylesheet" />
    <title>Inicio</title>
</head>
<body>
    <div class="container">

        <div class="form_basic_horizontal grid_start " id="leyenda"></div>
        <h1 class="title m5 bold" id="titulo_evaluacion"></h1>
        <select class="grid_3 m5" id="usuario"></select>
        <div class="m5" id="evaluacion_evaluacion"></div>
        <div class="m5" id="objetivo_evaluacion"></div>
        <div class="texto bold Upper m5">Observaciones</div>
        <div class="form_basic_horizontal grid_12">
            <textarea class="grid_8" rows="15"></textarea>

        </div>
        <div class="form_basic_horizontal  grid_end">
            <input type="button" value="GUARDAR EVALUACION" id="guardarDesenpeno" />
        </div>


    </div>
    <input id="hdfRaiz" type="hidden" value='@Url.Content("~")' />
    <script src="~/Scripts/Genericos/General.js"></script>
    <script src="~/Scripts/Evaluacion/evaluacion.js"></script>
</body>
</html>
