<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/controles.css" rel="stylesheet" />
    <title>Inicio</title>
</head>
<body>
    <div class="container">
        <div class="title" id="titulo_evaluacion"></div>
        <div id="evaluacion_evaluacion"></div>
        <div id="objetivo_evaluacion"></div>
    </div>
    <input id="hdfRaiz" type="hidden" value='@Url.Content("~")' />
    <script src="~/Scripts/Genericos/General.js"></script>
    <script src="~/Scripts/Evaluacion/evaluacion.js"></script>
</body>
</html>
