
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Index.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="container">

        <div class="box_logo">
            <img alt="logo" class="logo"
                 src="logo.jpeg">
        </div>
        <div class="box_content">
            <div class="form">
                <div class="title">Login del Sistema</div>
                <img src="logo.jpeg" width="200" height="100" />
                <div class="form-control">
                    <div class="sub_label">Usuario</div>
                    <i class="i fas fa-user"></i>
                    <input id="txtUsuario" class="input_text" type="text" class="R" />
                </div>
                <div class="form-control">
                    <div class="sub_label">Clave</div>
                    <i class="i fas fa-lock"></i>
                    <input id="txtClave" class="input_text" type="password" class="R" />
                </div>

                <div class="form-control">
                    <a class="a_sede">
                        <input id="btnAceptar" type="button" value="Ingresa" class="button-login" />
                    </a>

                    <i class="iconin fas fa-arrow-right"></i>
                </div>
                <div><span id="spnValida"></span></div>
            </div>

        </div>

    </div>
    <script src="~/Scripts/Sistema/Index.js"></script>
</body>
</html>
