
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Sistema.css" rel="stylesheet" />
    @*<link href="~/Styles/Principal.css" rel="stylesheet" />*@
    <script src="https://kit.fontawesome.com/4777b4e2aa.js" crossorigin="anonymous"></script>
    <title>Principal</title>
</head>
<body>
    <div id="container_menu" class="container_show">
        <div id="nav" class="nav_show">
            <div class="box_logo">
                <img alt="logo"
                     class="logo_muniz"
                     src="~/Imagenes/logo.jpeg" />
            </div>
            <div id="box1" class="box_menu">
                <i id="icon_menu" class="fas fa-times"></i>
            </div>
            <div class="option_nav">
                <div id="nombreUsuario" class="user"></div>
                <div><i id="user" class="fa fa-user-o"></i></div>
                <div><i id="full_screen" class="fa fa-expand"></i></div>
                <div id="singOut"><i class="fa fa-sign-out"></i></div>

                <div id="user_menu_nav" class="d_none">
                    <div class="user-info">
                        <img src="http://startng.themeseason.com/assets/img/users/user.jpg"
                             alt="user-img"
                             class="user-img" />
                        <p class="mt-1 mb-0">
                            <span id="spnNombre"></span>
                            <span id="spnUsuario"></span>
                            <small id="spnSede"></small>

                        </p>
                    </div>
                    @*<a routerlink="" class="dropdown-item" href=""><i class="fa fa-user mr-2"></i>Profile</a>
                        <a routerlink="" class="dropdown-item" href=""><i class="fa fa-cog mr-2"></i>Settings</a>
                        <a routerlink="" class="dropdown-item" href=""><i class="fa fa-lock mr-2"></i>Lock screen</a>
                        <a routerlink="" class="dropdown-item mb-1" href=""><i class="fa fa-power-off mr-2"></i>Log out</a>*@
                </div>
            </div>
        </div>

        <div id="sidebar" class="sidebar show">
            <h2>Estudio Muñiz</h2>

        </div>
        <div id="contenido" class="content_show">
            <iframe id="ifrPagina" style="width: 100%; height: 100%">
            </iframe>
        </div>

    </div>
</body>
<input id="hdfRaiz" type="hidden" value='@Url.Content("~")' />
<script src="~/Scripts/Genericos/General.js?v=1.0"></script>
<script src="~/Scripts/Sistema/Principal.js?v=1.0""></script>
</html>
